{% extends "main.html" %}
{% block content %}

<p>Game Server</p>

<h2 id="welcome"></h2>

<div id='set-name'>
  <input id="nickname" type="text" />
  <button id="addname" onclick="addName()">Send Name</button>
</div>

<div id="room-setup">
  <div id='set-room' style='display:none;'>
    <input id="roomname" type="text" />
    <button id="createroom" onclick="createRoom()">Create Room</button>
  </div>
</div>

<div id='room-list' style='display:none;'></div>

<div id="room" style="display:none;">
  <h2 id="room-name""></h2>

  <div id="player-list"></div>
  <button id="createroom" onclick="leaveRoom()">Leave</button>
</div>




<script type="text/javascript">
  console.log('here');

  // const chatSocket = new WebSocket(
  //     `ws://${window.location.host}/ws/risla/`
  // );

  let currentRoom = '';

  const chatSocket = new WebSocket(
      `ws://${window.location.host}/ws/risla/`
  );

  function createRoom() {
    const roomName = document.getElementById('roomname').value;
    console.log(roomName);
    chatSocket.send(JSON.stringify({
        'newroom': roomName
    }));
  }

  function leaveRoom() {
    console.log('leaving ',currentRoom);
    chatSocket.send(JSON.stringify({
        'leaveroom': currentRoom
    }));
  }

  function addName() {
    const name = document.getElementById('nickname').value;
    console.log(name);
    chatSocket.send(JSON.stringify({
        'setname': name
    }));
  }

  function joinRoom(room) {
    chatSocket.send(JSON.stringify({
        'joinroom': room
    }));
  }

  function printRoomList(rooms, roomList) {
    roomList.innerHTML = '';
    let roomUL = document.createElement("UL");
    for (let room of rooms) {
      console.log('here is the room',room);
      let roomHTML = `
        <li>
          <p class="title">
            ${room}
            <button onclick="joinRoom('${room}')">Join</button>
          </p>
        </li>
      `
      roomUL.innerHTML += roomHTML;
    }
    roomList.appendChild(roomUL);
  }


  function printPlayerList(players, playerList) {
    playerList.innerHTML = '';
    let playerUL = document.createElement("UL");
    for (let player of players) {
      console.log('here is the player',player);
      let playerHTML = `
        <li>
          <p class="title">
            ${player}
            <button onclick="joinRoom('${player}')">Join</button>
          </p>
        </li>
      `
      playerUL.innerHTML += playerHTML;
    }
    playerList.appendChild(playerUL);
  }

  chatSocket.onmessage = (e) => {
      let roomList = document.getElementById('room-list');
      const data = JSON.parse(e.data);
      console.log('received');

      console.log('here is the data',data.action);
      switch (data.action) {
        case 'name_set':
          console.log('set name');
          if (data.payload.success) {
            let setName = document.getElementById('set-name');
            let setRoom = document.getElementById('set-room');
            setName.setAttribute('style', 'display:none;');
            setRoom.setAttribute('style', 'display:block;');
            roomList.setAttribute('style', 'display:block;');
            document.getElementById('welcome').innerHTML = `Welcome ${data.payload.name}`;
          }
          break;
        case 'room_list':
          console.log('room list', data.payload);
          if (data.payload.success) {
            printRoomList(data.payload.rooms, roomList);
          }
          break;
        case 'room_join':
          console.log('join here',data.payload);
          if(data.payload.success) {
            document.getElementById('room-name').innerHTML = data.payload.room;
            document.getElementById('room-setup').setAttribute('style', 'display:none;');
            document.getElementById('room-list').setAttribute('style', 'display:none;');
            document.getElementById('room').setAttribute('style', 'display:block;');
            console.log(data.payload.players);
            currentRoom = data.payload.room;
            //window.location.pathname = `/risla/${data.payload.room}/`;
          }
          break;
        case 'room_leave':
          console.log('leave room',data.payload);
          if(data.payload.success) {
            currentRoom = '';
            document.getElementById('room-setup').setAttribute('style', 'display:block;');
            document.getElementById('room-list').setAttribute('style', 'display:block;');
            document.getElementById('room').setAttribute('style', 'display:none;');
            //window.location.pathname = `/risla/${data.payload.room}/`;
          }
          break;
        case 'room_list_players': {
          console.log('room_list_players', data.payload);
          let playerList = document.getElementById('player-list');
          let players = data.payload.players
          printPlayerList(players,playerList);
        }
        default:
          console.log('hit default');
      }
  };

  // chatSocket.generate = (e) => {
  //     const data = JSON.parse(e.data);
  //     //console.log(e);
  //     console.log(data);
  // };



</script>

{% endblock %}
