/*----------------------------------------------*/
/*BASIC SETUP*/
/*----------------------------------------------*/

/* COLOR SCHEME */
/* https://colorhunt.co/palette/253352 */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #e8eae6;
  color:#212121;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-rendering: optimizeLegibility;
}

header {
  min-height: 2vh;
  padding: 2px;
  background-color: #7c9473;
}

header > p, header > h4 {
  color: #e8eae6;
}

section {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
}

footer {
  height: 10vh;
  background-color: #D5B895;
  text-align: center;
  padding-top: 20px;
}

button {
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border : 0;
  background-color: #475442;
  /* background-color: #7c9473; */
  /* color: #212121; */
  color: #fff;
  margin : 4px;
}

button:hover {
  /* border: 2px solid black; */
  background-color: #7c9473;
}

input {
  border: 1px solid black;
}

.panel {
  margin-left : 1rem;
  margin-right :1rem;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  background-color: #cfdac8;
  text-align: left;
}

.panel-inner-center {
  text-align: center;
  width: 100%;
}

#start-btn {
  width : 10rem;
  height: 3rem;
  border: 2px solid black;
  background-color: #379cb3;
}

#start-btn:hover {
  background-color: #47c2de;
}


.label-text {
  color: #7c9473;
}

.sub-area {
  margin-bottom: 1rem;
}

h1, h2, h3, h4 {
  text-align:center;
}

li {
  color: #7c9473;
  cursor: pointer;
  list-style-type:none;
}
